body {
  font-family: "adobe-caslon-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

nav {
  font-family: "hwt-artz",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px
}

a {
  font-family: "hwt-artz",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px
}