body {}

main {
  margin: 0 auto;
  width: 960px;
}

nav {
  background-color: #aaaaaa;
  font-family: Arial, sans-serif;
}

img {
  width: 300px;
}

nav a {
  background-color: #ff7900;
  color: white;
  text-decoration: none;
  margin: 0 60px;
  padding: 10px;
  width: 110px;
  display: inline-block;
  text-align: center;
}

nav a:hover {
  background-color: rgba(0,0,0,1);
}

#splash {
  background-color: rgba(0,0,0,0.75);
  height: 538px;
}

#splash img {
  display: block;
  margin: 10px auto 0;
}