body {
  background: rgba(235,235,235,1);
  line-height: 1.2em;
  font-family: "adobe-caslon-pro",serif;
  color: white;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6, nav a {
  /*font-family: "hwt-artz-n7","hwt-artz",sans-serif;*/
  font-family: 'HWT Artz';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 18px;
}

h1 {
  font-size: 1.62em;
}

h2 {
  color: black;
  font-size: 1.31em;
}

p {
  line-height: 1.2em;
  margin-bottom: 1em;
}

nav {
  background-color: rgba(0,0,0,0);
}

img {
  width: 470px;
}

nav a {
  background-color: #000000;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 60px;
  padding: 20px 10px 0px 10px;
  width: 110px;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  letter-spacing: .1em;
}

nav a:hover:first-child {
  background-color: rgba(39,205,210,1);
  color: black;
}

nav a:hover:nth-child(2) {
  background-color: rgba(129,105,188,1);
  color: black;
}

nav a:hover:nth-child(3) {
  background-color: rgba(225,167,51,1);
  color: black;
}

nav a:hover:last-child {
  background-color: rgba(191,215,58,1);
   color: black;
}

article {
  margin: 0 0 2em;
}

article footer {
  background-color: rgba(0,0,0,0.75);
  padding: .5em;
}

article footer p {
 font-size: .75em;
 text-align: center;
 margin: 0;
}

#splash {
  background-color: rgba(0,0,0,0.75);
  height: 593px;
}

#splash img {
  display: block;
  margin: 36px auto 0;
}

#work {
  background-color: rgba(39,205,210,1);
  padding: 63px;
}

#work img {
  display: block;
  padding: 5px;
  width: 25%;
  float: left;
  opacity: .58;
}

#work img:hover {
  opacity: 1;
}

#about {
  background-color: rgba(129,105,188,1);
  padding: 63px;
}

#blog {
  background-color: rgba(225,167,51,1);
  padding: 63px;
}

#contact {
  background-color: rgba(0,0,0,0.75);
  padding: 63px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 984px) {
  #work img {
    width: 50%;
  }
}