* { margin:0; padding:0; box-sizing:border-box; }

body {
  background-image:url("images/stripe.png"), url("images/noshisite.png");
  background-size:auto, cover;
  background-repeat: repeat-x, no-repeat;
  background-color:rgba(255,255,255,1);
  color:#333333;
  font-family: 'Anaheim',helvetica,arial,sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

section {
  margin:100px 0 100px 0;
}

h1 { 
  font-family: 'Montserrat', arial, sans-serif; font-weight: 700; 
}

p { 
  font-family: 'Anaheim', helvetica,arial,sans-serif; 
}


