* { margin:0; padding:0; box-sizing:border-box; }

body {
}

h1 { font-family: 'Montserrat', arial, sans-serif; font-weight: 700; }
p { font-family: 'Anaheim', sans-serif; }

hr {
  color:rgba(253,110,107,1);
  height: 36px;
  margin: 0 0 0 0;
  width: 1024px;
  padding-bottom: 36px;
}