* { margin:0; padding:0; box-sizing:border-box; }

body {
  background-color:rgba(82,90,106,1);
  background-size:auto,color;
}

section {
  margin:300px 0 0 150px;
}

hr {
  background-color:rgba(253,110,107,1);
  border: none;
  height: 2px;
  margin: 30px 0 15px 0;
  text-align:left;
  width: 50px;
}

p {
  color:white;
  font-family:helvetica,arial,sans-serif;
  font-size:25px;
}