* {margin:0; padding:0; box-sizing:border-box;}

body {
  background-color:#525a6a;
  background-size:auto,cover;
  color:white;
  font-family:helvetica,arial,sans-serif;
  font-size:22px;
}

section {
  margin:100px 0 0 100px;
}

hr {
  border-color:rgba(253,110,107,1);
  margin: 30px 0px 0 30px;
  width: 50px;
  separator:left;
}